@use '../base/variables';
@use '../base/mixins';

.pricing-card {
    border: 1px solid #e5e7eb;
    padding: 2rem;
    border-radius: variables.$border-radius;
    background-color: white;
    text-align: center;
    transition: transform 0.3s ease;
    
    @include mixins.pricing-box-shadow;
  }
  
  .pricing-card:hover {
    transform: translateY(-5px);
  }
  
  .pricing-card.highlight {
    border: 2px solid variables.$secondary-color;
  }
  
  .pricing-card .price {
    font-size: 1.5rem;
    font-weight: bold;
    color: variables.$primary-color;
    margin: 1rem 0;
  }